spark_ai_python
dwspark
cffi
gevent
greenlet
pycparser
six
pandas
websockets
websocket-client
chardet
openai
jieba
fitz
frontend
pymupdf
langchain
langchain-community
langchain-core
loguru
tools
beautifulsoup4
scikit-learn
PyMuPDFb
pynvml
pyparsing
pypdf                                    
rank_bm25
dashscope
gradio
FlagEmbedding
